@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
}
/*Barra de Navegación*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-image:url(../imagenesProyecto/fondoJojoTexturaNegra.png);
  background-attachment: fixed;
  background-size: cover;
}
header .logo{
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  height:70px;
}
header .navegacion a:not(:last-child) {
  margin-right: 30px;
}
header div{
  margin-right: 70px;
}
header div a{
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 255, 255);
  background-color:rgb(31, 29, 31);
  font-size: 17px;
  letter-spacing:1px;
  padding: 2px 15px;
  font-weight:600;
  text-decoration: none;
  border-radius: 20px;
  border:2px solid rgb(89, 89, 89);
  transition: 0.2s;
}
header div a:hover{ 
  color: rgb(0, 0, 0);
  background-color:rgb(254, 254, 254);
  border-radius: 20px;
  transform: scale(1.2);
}
/*---Termina Barra de Navegación---*/

/*Cuerpo Principal*/
body{
  background-image:url(../imagenesProyecto/AllJojosFondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-container .container-jojos div{
  margin: 7vh 35vh;
  padding:1vh;
  background-image: url(../imagenesProyecto/JojoPatternBackgroundGray.png);
  border: solid 0.4vh;
  border-radius:1vh;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
}
.main-container .container-jojos div h2{
  font-weight: 700;
  color: rgb(198, 6, 198);
  text-shadow: 0 0 3px #8100ac, 0 0 5px #7e0396;
}
.main-container .container-jojos div img{
  max-width: 17vh;
  float:right;
  border-radius: 20px;
  border: 2px solid rgb(108, 8, 109);
  margin: 1vh;
}
.main-container .container-jojos div p{
  margin: 1.5vh;
  font-weight: 600;
  color: rgb(196, 196, 196);
  text-shadow: 0 0 2px #000000;
  font-size:2vh; 
}
/*Joseph*/
.main-container .container-jojos .joseph h2{
  color: rgb(0, 147, 34);
  text-shadow: 0 0 3px #26ff04, 0 0 5px #13e679;

}
.main-container .container-jojos .joseph img{
  border-color: rgb(2, 171, 2);
}

/*Jotaro*/
.main-container .container-jojos .jotaro h2{
  color: rgb(75, 0, 167);
  text-shadow: 0 0 3px #130846, 0 0 5px #110248;

}
.main-container .container-jojos .jotaro img{
  border-color: rgb(94, 1, 160);
}
/*Josuke*/
.main-container .container-jojos .josuke h2{
  color: rgb(43, 12, 240);
  text-shadow: 0 0 3px #0d0630, 0 0 5px #0e013e;

}
.main-container .container-jojos .josuke img{
  border-color: rgb(35, 1, 160);
}
/*Giorno*/
.main-container .container-jojos .giorno h2{
  color: rgb(227, 210, 26);
  text-shadow: 0 0 3px #e5f71a, 0 0 5px #b3b329;

}
.main-container .container-jojos .giorno img{
  border-color: rgb(225, 181, 4);
}

/*Termina Cuerpo Principal*/

/*Footer*/
.container-footer{
  margin-top: auto;
  background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
}

.container-footer .footerList{ 
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-footer .footerList a{ 
  margin: 20px 25px;
}
.container-footer .footerList a:hover{ 
  transform: scale(1.5);
  transition: 0.3s;

}
.fab, .far{
  width: 100%;
  color: rgb(157, 157, 157);
}

/*---Termina Footer---*/