@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
}
/*Barra de Navegación*/
header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image:url(../imagenesProyecto/fondoJojoTexturaNegra.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
header .logo{
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  height:70px;
  display:block;
}
header .navegacion a:not(:last-child) {
  margin-right: 30px;
}
header div a{
  margin: 0;
  padding: 0;
  
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 255, 255);
  background-color:rgb(31, 29, 31);
  font-size: 17px;
  letter-spacing:1px;
  padding: 2px 15px;
  font-weight:600;
  text-decoration: none;
  border-radius: 20px;
  border:2px solid rgb(89, 89, 89);
  transition: 0.2s;
}
header div a:hover{ 
  color: rgb(0, 0, 0);
  background-color:rgb(254, 254, 254);
  border-radius: 20px;
  transform: scale(1.2);
}
/*---Termina Barra de Navegación---*/





/*Footer*/
footer{
  background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  bottom: 0px;
  position:fixed;
  left: 0px;
  right:0px;
  margin-bottom:0px;
  padding: 10px;
  margin: 10px;
  border: 2px solid;
  border-color: rgb(122, 21, 126);
}

footer .footerList{ 
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
footer .footerList a{ 
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  
}
footer .footerList a:hover{ 
  transform: scale(1.5);
  transition: 0.3s;
}
footer .footerList a img{
  height:20px;
}

/*---Termina Footer---*/