@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Barra de Navegación*/
.header-mobile{
    display: none;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 15vh;
    background-image:url(../imagenesProyecto/fondoJojoTexturaNegra.png);
    background-attachment: fixed;
    background-size: cover;
}

header .logo{
    margin-inline-start: 0vh;
    margin-inline-end: 0vh;
    height: 7vh;
}
header .navegacion a:not(:last-child) {
    margin-right: 3vh;
  }

  header div a{
    font-family: 'PT Sans', sans-serif;
    color: rgb(255, 255, 255);
    background-color:rgb(31, 29, 31);
    font-size: 2vh;
    letter-spacing: 0.15vh;
    padding: 0.2vh 1.5vh;
    font-weight:600;
    text-decoration: none;
    border-radius: 2vh;
    border:0.3vh solid rgb(89, 89, 89);
    transition: 0.2s;
  }
  header div a:hover{ 
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    transform: scale(1.2);
  }

/*---Termina Barra de Navegación---*/


/*Cuerpo Principal*/

body{
    background-image:url(../imagenesProyecto/jojoFondoVuelta.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.principal .carrusel{
    background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
    background-attachment: fixed;
    background-size: cover;
    border: black solid 0.2vh;
    display: inline-block;
    padding:2vh;
    margin: 1vh;
    max-width: 100vh;
}
.principal .carrusel .carousel-inner{
    border: 0.2vh solid black;
}
.principal .info{
    font-family: 'Poppins', sans-serif;
    padding:2vh;
}
.principal .info p{
    text-align: left;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(123, 14, 123);
    text-shadow: 1px 2px black;
}

/*---Termina el Cuerpo Principal---*/

/*Footer*/
.container-footer{
    margin-top: auto;
    background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
}

.container-footer .footerList{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-footer .footerList a{
    margin: 2vh 2.5vh;
    transition: 0.3s;
}
.container-footer .footerList a:hover{
    transform: scale(1.5);

}
.fab, .far{
    width: 100%;
    color: rgb(157, 157, 157);
}
/*---Termina Footer---*/


@media only screen and (max-width:800px){
    /*Header*/
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: flex;
        padding-left:1vh;
    }


    /*Footer*/
    .container-footer .footerList a:hover{
        transform: scale(1);
    }
}