@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*Barra de Navegación*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-image:url(../imagenesProyecto/fondoJojoTexturaNegra.png);
  background-attachment: fixed;
  background-size: cover;
}
header .logo{
  margin-inline-start: 100px;
  margin-inline-end: 0px;
  height:70px;
}
header .navegacion a:not(:last-child) {
  margin-right: 30px;
}
header div{
  margin-right: 70px;
}
header div a{ 
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 255, 255);
  background-color:rgb(31, 29, 31);
  font-size: 17px;
  letter-spacing:1px;
  padding: 2px 15px;
  font-weight:600;
  text-decoration: none;
  border-radius: 20px;
  border:2px solid rgb(89, 89, 89);
  transition: 0.2s;
}
header div a:hover{ 
  color: rgb(0, 0, 0);
  background-color:rgb(254, 254, 254);
  border-radius: 20px;
  transform: scale(1.2);
}

/*---Termina Barra de Navegación---*/


/*Cuerpo Principal*/

body{
  background-image:url(../imagenesProyecto/JosukePart8Fondo.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-all{
  margin: 50px 100px;
}
.titulo-header{ 
  margin-top: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/*Partes de Jojo*/
main div div{
  margin: 10px;
  padding: 50px;
  display: inline-block;
  background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
  margin-bottom: 30px;
  border-radius: 2vh; 
}
main div div img{
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
main div div h2{
  margin-bottom: 20px ;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
main div div p{
  font-size: 19px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
/*Phantom Blood*/
.container-all .container-pb{
  border: solid 3px rgb(177, 2, 29);
}
.container-all .container-pb img{
  width: 190px;
}
.container-all .container-pb h2{
  color: rgb(199, 31, 137);
  text-shadow: 1px 1px rgb(171, 116, 116);
}
.container-all .container-pb p{
  text-shadow: 1px 1px rgb(24, 1, 28);
  color: rgb(213, 24, 153);
}
/*Termina Phantom Blood*/

/*Battle Tendency*/
.container-all .container-bt{
  border: solid 3px rgb(25, 227, 2);
}
.container-all .container-bt img{
  width: 200px;
}
.container-all .container-bt h2{
  color: rgb(233, 244, 27);
  text-shadow: 1px 1px rgb(64, 72, 36);
}
.container-all .container-bt p{
  text-shadow: 1px 1px rgb(24, 1, 28);
  color: rgb(144, 205, 23);
}
/*Termina Battle Tendency*/

/*Stardust Crusaders*/
.container-all .container-stc{
  border: solid 3px rgb(131, 0, 157);
}
.container-all .container-stc img{
  border: solid 3px rgb(186, 0, 186);
  width: 200px;
}
.container-all .container-stc h2{
  color: rgb(175, 0, 184);
  text-shadow: 1px 1px rgb(121, 1, 145);
}
.container-all .container-stc p{
  text-shadow: 1px 1px rgb(24, 1, 28);
  color: rgb(156, 0, 164);
}
/*Termina Stardust Crusaders*/

/*Diamon Is Unbreakable*/
.container-all .container-diu{
  border: solid 3px rgb(111, 30, 250);
}
.container-all .container-diu img{
  border: solid 3px rgb(120, 30, 245);
  width: 200px;
}
.container-all .container-diu h2{
  color: rgb(100, 52, 244);
  text-shadow: 1px 1px rgb(70, 37, 232);
}
.container-all .container-diu p{
  text-shadow: 1px 1px rgb(24, 1, 28);
  color: rgb(111, 28, 255);
}
/*Termina Diamond Is Unbreakable*/

/*Golden wind*/
.container-all .container-gw{
  border: solid 3px rgb(213, 199, 47);
}
.container-all .container-gw img{
  border: solid 3px rgb(223, 199, 22);
  width: 200px;
}
.container-all .container-gw h2{
  color: rgb(223, 199, 22);
  text-shadow: 1px 1px rgb(132, 118, 14);
}
.container-all .container-gw p{
  text-shadow: 1px 1px rgb(24, 1, 28);
  color: rgb(191, 171, 21);
}
/*Termina Golden Wind*/
/*---Termina el Cuerpo Principal---*/


/*Footer*/
.container-footer{
  margin-top: auto;
  background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
}

.container-footer .footerList{ 
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-footer .footerList a{ 
  margin: 20px 25px;
}

.container-footer .footerList a:hover{ 
  transform: scale(1.5);
  transition: 0.3s;

}
.fab, .far{
  width: 100%;
  color: rgb(157, 157, 157);
}

/*---Termina Footer---*/