@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
/*Barra de Navegación*/
header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image:url(../imagenesProyecto/fondoJojoTextura.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header .logo{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height:70px;
    display:block;
}
header .navegacion a:not(:last-child) {
    margin-right: 30px;
}
header div a{
    margin: 0;
    padding: 0;
    
    font-family: 'PT Sans', sans-serif;
    color: rgb(225, 225, 26);
    background-color:rgb(77, 25, 77);
    font-size: 17px;
    letter-spacing:1px;
    padding: 2px 15px;
    font-weight:600;
    text-decoration: none;
    border-radius: 20px;
    border:2px solid rgb(198, 198, 28);
    transition: 0.2s; 
}
header div a:hover{ 
    color: rgb(147, 26, 129);
    background-color:rgb(239, 250, 15);
    border-color: rgb(128, 10, 128);
    border-radius: 20px;
    transform: scale(1.2); 
}

/*---Termina Barra de Navegación---*/


/*Cuerpo Principal*/

body{
    background-image:url(../imagenesProyecto/jojoFondoVuelta.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}



.principal .carrusel{
    background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    border: black solid 2px;

    display: inline-block;
    padding:20px;
    margin: 10px;
    max-width: 1000px;
    max-height: 1000px;
    

}
.principal .carrusel .carousel-inner{
    border: 2pxb solid black;
}
.principal .info{
    font-family: 'Poppins', sans-serif;
    display:block;
    padding:20px;
    margin: auto;

}
.principal .info p{
    text-align: left;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(123, 14, 123);
    text-shadow: 1px 2px black;
}

/*---Termina el Cuerpo Principal---*/

/*Footer*/
.container-footer{
    background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: block;
    padding: 20px;
    margin: 0px;
    align-self: flex-end;
}

.container-footer .footerList{ 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer .footerList a{ 
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    
}
.container-footer .footerList a:hover{ 
    transform: scale(1.5);
    transition: 0.3s;
}
.container-footer .footerList a img{
    height:20px;
}


/*---Termina Footer---*/