@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
/*Barra de Navegación*/
.header-mobile{
  display: none;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 15vh;
  background-image:url(../imagenesProyecto/fondoJojoTexturaNegra.png);
  background-attachment: fixed;
  background-size: cover;
}

header .logo{
  margin-inline-start: 0vh;
  margin-inline-end: 0vh;
  height: 7vh;
}
header .navegacion a:not(:last-child) {
  margin-right: 3vh;
}

header div a{
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 255, 255);
  background-color:rgb(31, 29, 31);
  font-size: 2vh;
  letter-spacing: 0.15vh;
  padding: 0.2vh 1.5vh;
  font-weight:600;
  text-decoration: none;
  border-radius: 2vh;
  border:0.3vh solid rgb(89, 89, 89);
  transition: 0.2s;
}
header div a:hover{
  color: rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  transform: scale(1.2);
}

/*---Termina Barra de Navegación---*/

/*Cuerpo Principal*/

body{
  background-image:url(../imagenesProyecto/FondoStardustCrusaders.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/*Partes*/
.main-container div{
  display: flex;
  flex-wrap: wrap;
}
.main-container div div{
  margin: 30px;
}
.card{
  width: 15.5rem;

  background-color: black;
}
card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-top{
  height: 350px;
  width: 100%;
}

.btn-primary{
  background-color: rgb(196, 19, 196);
  border-color: violet;
}

/*Termina Cuerpo Principal*/

/*Footer*/
.container-footer{
  margin-top: auto;
  background-image: url(../imagenesProyecto/fondoJojoTexturaNegra.png);
}

.container-footer .footerList{
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-footer .footerList a{
  margin: 2vh 2.5vh;
}
.container-footer .footerList a:hover{
  transform: scale(1.5);
  transition: 0.3s;

}
.fab, .far{
  width: 100%;
  color: rgb(157, 157, 157);
}

/*---Termina Footer---*/

@media only screen and (max-width:800px){
  .header-desktop{
      display: none;
  }
  .header-mobile{
      display: flex;
      padding-left:1vh;
  }
}